@{
    Layout = "default";
}
<h1>@Title</h1>
<small>
    @PostAuthor 
    @if (Tags.Any())
    {
        @:&nbsp;&nbsp;| &nbsp;&nbsp;@String.Join(", ", @Tags)
        }
</small>
<br />
<span class='st_reddit'></span>
<span class='st_facebook'></span>
<span class='st_twitter'></span>
<span class='st_linkedin'></span>
<span class='st_googleplus'></span>
<span class='st_tumblr'></span>
<span class='st_instapaper'></span>
<span class='st_email'></span>
<div class="postbody">
    @RenderBody()
</div>
<span class='st_reddit'></span>
<span class='st_facebook'></span>
<span class='st_twitter'></span>
<span class='st_linkedin'></span>
<span class='st_googleplus'></span>
<span class='st_tumblr'></span>
<span class='st_instapaper'></span>
<span class='st_email'></span>
