@{
    Layout = "default";
}
<h1>@Title</h1>
<div class="postbody">
    @RenderBody()
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>