@{
    Layout = "default";
}
<h2>@Title</h2>
<p class="view">
    <small>
        @if (PostAuthor != "")
        {
            @:Posted by 
            @PostAuthor 
            @:&nbsp; &nbsp;| &nbsp;&nbsp;
        }
        @if (Tags.Any())
        {
            @:&nbsp; &nbsp;| &nbsp; &nbsp; @String.Join(", ", Tags)
        }

    </small><br />
    <iframe width="640" height="360" src="@ContentUrl" frameborder="0" allowfullscreen></iframe>
</p>
<p>@Description</p>
